/* reset */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
}


/* 初始化标签在所有浏览器中的margin、padding值 */

fieldset,
img {
  border: 0 none
}


/* 重置fieldset（表单分组）、图片的边框为0*/

dl,
ul,
ol,
menu,
li {
  list-style: none
}


/* 重置类表前导符号为onne,menu在HTML5中有效 */

blockquote,
q {
  quotes: none
}


/* 重置嵌套引用的引号类型 */

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none
}


/* 重置嵌套引用*/

input,
select,
textarea,
button {
  vertical-align: middle
}


/* 重置表单控件垂直居中*/

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer
}


/* 重置表单button按钮效果 */

/* body {
  background: #fff
} */


/* 重置body 页面背景为白色 */

body,
th,
td,
input,
select,
textarea,
button {
  font-size: 12px;
  line-height: 1;
  font-family: "Microsoft YaHei";
  color: #666
}


/* 重置页面文字属性 */

a {
  color: #666;
  text-decoration: none
}


/* 重置链接a标签 */

a:active,
a:hover {
  text-decoration: none
}


/* 重置链接a标签的鼠标滑动效果 */

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal
}


/* 重置样式标签的样式 */

caption {
  display: none;
}


/* 重置表格标题为隐藏 */

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}


/* 重置table属性 */

img {
  vertical-align: top
}


/* 图片在当前行内的垂直位置 */


/* 页面设置 */


/* 取消a标签点击后的虚线框 */

a {
  outline: none;
}

a:active {}


/* 设置页面文字等在拖动鼠标选中情况下的背景色与文字颜色 */


/*   
::selection {color: #fff;background-color: #4C6E78;}      
::-moz-selection {color: #fff;background-color: #4C6E78;}   
*/


/*清除浮动*/

.clear {
  clear: both;
}


/*清除浮动--推荐使用*/

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.col-1 {
  width: 10%;
}

.col-2 {
  width: 20%;
}

.col-3 {
  width: 30%;
}

.col-4 {
  width: 40%;
}

.col-5 {
  width: 50%;
}

.col-6 {
  width: 60%;
}

.col-7 {
  width: 70%;
}

.col-8 {
  width: 80%;
}

.col-9 {
  width: 90%;
}

.dis {
  display: block;
}

.dis-in {
  display: inline-block;
}

.t-c {
  text-align: center;
}

.t-l {
  text-align: left;
}

.t-r {
  text-align: right
}

body {
  background-color: #f0f2f5;
}

input,
textare {
  outline: none;
}

.por {
  position: relative
}

.poa {
  position: absolute
}

.fl {
  float: left
}

.fr {
  float: right
}

.hg20 {
  height: 0.2rem;
  background-color: #eff1f4;
}

.hg30 {
  height: 0.3rem;
  background-color: #eff1f4;
}

.hide {
  display: none
}

.mt20{
  margin-top:0.2rem;
}

.pdlf30{
  padding:0 0.15rem;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #cacaca;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color:#cacaca;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color:#cacaca;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color:#cacaca;
}


/*  */
.modal-open{
  overflow: inherit !important;
  position: inherit !important;
}

textarea{
  border: 0;
  resize:none;
}
.m0{
  margin:0 !important;
}
