.forthwith_box{
    h3{
        font-size: px2rem(30);
        color: #333;
    }
    .ex_msg{
        padding:0 px2rem(30);
        .ex_li{
            label{
                
            }
        }
    }
}