@import '../css/px2rem.scss';
#header {
    padding: px2rem(20) px2rem(20) px2rem(40);
    background-color: #fff;
    .orientation {
        font-size: px2rem(28);
        color: #fff;
        top: px2rem(40);
        left: px2rem(40);
        i {
            width: px2rem(0);
            height: px2rem(0);
            display: inline-block;
            border-left: px2rem(8) solid transparent;
            border-right: px2rem(8) solid transparent;
            border-top: px2rem(10) solid #fff;
            vertical-align: top;
            margin-left: px2rem(10);
            margin-top: px2rem(8)
        }
    }
    ul {
        width: 100%;
        height: px2rem(380);
        background: url(/static/assets/images/beijing_wode.png) no-repeat center;
        background-size: 100% px2rem(380);
        display: flex;
    }
    li {
        flex: 1;
        text-align: center;
        position: relative;
        padding-top: px2rem(60);
        &.user_message {
            .icon_bean {
                width: px2rem(24);
                height: px2rem(32);
                background: url('/static/assets/images/icon_kuaididou.png') no-repeat center;
                background-size: px2rem(24) px2rem(32);
                display: inline-block;
                margin-left: px2rem(6);
                vertical-align: middle;
            }
        }
        &.courier_message {
            .identify {
                font-size: px2rem(20);
                color: #fff;
                position: absolute;
                top: px2rem(20);
                width: 100%;
                margin: 0 auto;
            }
            .icon_tel {
                width: px2rem(42);
                height: px2rem(42);
                background: url('/static/assets/images/btn_iphone@2x.png') no-repeat center;
                background-size: px2rem(42);
                display: inline-block;
                vertical-align: middle;
                margin-left: px2rem(20);
            }
        }
    }
    .photo {
        width: px2rem(152);
        height: px2rem(152);
        border-radius: 50%;
        background-color: rgba(255, 255, 255, .3);
        margin: 0 auto;
        line-height: px2rem(152);
        position: relative;
        img {
            width: px2rem(136);
            height: px2rem(136);
            border-radius: 50%;
            vertical-align: top;
            margin-top:px2rem(8);
        }
        .grade {
            width: 100%;
            position: absolute;
            bottom: px2rem(-38);
            .grade_img {
                margin: 0 auto;
            }
        }
    }
    .name {
        font-size: px2rem(28);
        color: #fff;
        margin-top: px2rem(60);
        height: px2rem(40);
        &.notLogin{
            margin-top:px2rem(20);
        }
    }
    p {
        font-size: px2rem(20);
        color: #fff;
        margin-top: px2rem(10);
    }
}

#home {
    padding-bottom: px2rem(101);
}

.entrance_list {
    height: px2rem(180);
    background-color: #fff;
    ul {
        display: flex;
    }
    li {
        flex: 1;
        text-align: center;
        a {
            display: inline-block
        }
        img {
            width: px2rem(90);
            height: px2rem(90);
            margin-top: px2rem(24);
        }
        p {
            font-size: px2rem(24);
            color: #333;
            margin-top: px2rem(10);
        }
    }
}

.advertisement_banner {
    border-bottom: 2px solid #ebebeb;
    img {
        width: 100%;
        height: px2rem(110);
    }
}

.footer_btn {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: px2rem(100);
    background-color: #fff;
    ul {
        display: flex;
    }
    li {
        font-size: px2rem(30);
        color: #4a4a4a;
        flex: 1;
        text-align: center;
        line-height: px2rem(100);
        border-right: 1px solid #ebebeb;
        &li::last-child {
            border-right: 0;
        }
    }
}

// 查询快递
.inquire_warp{
    .banner{
        img{
            height: px2rem(420);
        }
    }
    .inquire_main{
        margin-top:px2rem(20);
        background-color:#fff; 
        padding:px2rem(40) 0 px2rem(68);
        box-shadow:0px px2rem(4) px2rem(16) rgba(164,164,164,.17);
        .import{
            width: 90%;
            height: px2rem(80);
            line-height: px2rem(80);
            display: flex;
            background-color: #f2f2f2;
            margin: 0 auto;
            input{
                flex: 1;
                border:0;
                background-color: #f2f2f2;
                padding:0 px2rem(30);
                font-size: px2rem(28);
                color: #666;
            }
            .richscan{
                margin-right: px2rem(15);
                i{
                    width: px2rem(50);
                    height: px2rem(50);
                    background:url(/static/assets/images/btn_scan.png) no-repeat center; 
                    background-size:px2rem(30); 
                    display: inline-block;
                    vertical-align: top;
                    margin-top:px2rem(14);
                }
            }
        }

        .btn{
            width: 90%;
            margin:0 auto;
            margin-top:px2rem(68);
            button{
                font-size: px2rem(30);
                color: #fff;
                width: 100%;
                height: px2rem(90);
                line-height: px2rem(90);
                border-radius: px2rem(10);
                text-align: center;
                background-color: #366931;
            }
        }
    }

    .order_list{
        padding:0 px2rem(30);
        h3{
            font-size: px2rem(30);
            color: #333;
            margin:px2rem(60) 0 px2rem(20);
            &::before{
                content: "";
                width: px2rem(6);
                height: px2rem(30);
                background-color: #356930;
                margin-right: px2rem(10);
                display: inline-block;
                vertical-align: middle;
            }
        }

        ul{

        }
        li{
            display: flex;
            min-height: px2rem(204);
            background-color: #fff;
            margin-bottom: px2rem(30);
            padding:px2rem(20) px2rem(20) px2rem(10);
            border-radius: px2rem(10);
            box-shadow:0px px2rem(4) px2rem(16) rgba(164,164,164,.17);
            i{
                width: px2rem(52);
                height: px2rem(52);
                display: inline-block;
                margin-right: px2rem(20);
                flex: 1;
                vertical-align: top;
                &.icon_send{
                   background: url('/static/assets/images/icon_ji.png') no-repeat center;
                   background-size:px2rem(52); 
                }
                &.icon_put{
                    background: url('/static/assets/images/icon_shou.png') no-repeat center;
                    background-size:px2rem(52); 
                }
            }
            .odd{
                flex: 1;
                display: inline-block;
                .order_number{
                    font-size: px2rem(28);
                    color: #999;
                    margin-top:px2rem(10);  
                }
                .site{
                    display: flex;
                    margin-top:px2rem(30);
                    h4{
                        font-size: px2rem(34);
                        color: #333;
                    }
                    p{
                        font-size: px2rem(28);
                        color: #999;
                        margin-top:px2rem(20);
                    }
                    .starting{
                        flex: 1;
                        width: px2rem(262);
                    }
                    .receipt{
                        flex: 1;
                        width: px2rem(262);
                        text-align:right;
                    }
                    .center{
                        flex: 1;
                        width: px2rme(320);
                        height: 1px;
                        background-color: #e1e1e1;
                        margin-top:px2rem(20);
                    }
                }
            } 
            .express_number{
                font-size: px2rem(28);
                color: #999;
                margin-top:px2rem(20)
            }
        }
    }
}