@import '../css/px2rem.scss';

.grade{
    .grade_img{
        width: px2rem(124);
        height:px2rem(60);
        background: url('/static/assets/images/banner.png') no-repeat;
        background-size:px2rem(124) px2rem(60);
        span{
            font-size:px2rem(20);
            color: #fff
        }
    }
}